    {% if session.get('nome') %}
    <div style="background:#eee; padding:10px;">
        Logado como: <strong>{{ session['nome'] }}</strong>
        (<a href="/logout">Sair</a>)
    </div> 

    {% if session.get('tipo') == 'usuario' %}
    <div style="margin-top: 10px;">
        <a href="/usuario/loja">🛒 Ir para a Loja de Jogos</a> |
        <a href="/usuario/biblioteca">🎮 Minha Biblioteca</a>
    </div>
    {% endif %}

    {% endif %}

    {% if session.get('tipo') == 'usuario' %}
    <a href="/usuario/biblioteca">Minha Biblioteca</a> |
    {% endif %}


<h1>Minha Biblioteca</h1>

{% if jogos %}
    <table border="1">
        <tr><th>ID</th><th>Título</th><th>Preço</th><th>Desenvolvedora</th></tr>
        {% for j in jogos %}
        <tr>
            <td>{{ j[0] }}</td>
            <td>{{ j[1] }}</td>
            <td>R$ {{ j[2] }}</td>
            <td>{{ j[3] }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Sua biblioteca está vazia.</p>
{% endif %}

<a href="/">Voltar para o painel</a>
